<div class="container mt-5">
    <div class="justify-content-center align-items-center d-grid">
        <h1>Welcome to <span jhiTranslate="global.title"></span>!</h1>
        <a href="https://devops.uz/" target="_blank">
            <button nz-button>Visit DevOps site</button>
        </a>
    </div>
</div>
