<%#
 Copyright 2013-2022 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<nav data-cy="navbar" class="navbar navbar-<% if (clientThemeNone || clientThemePrimary) { %>dark<% } else { %><%= clientThemeVariant %><% } %> navbar-expand-md <% if (clientThemeNone) { %>bg-dark<% } else { %>bg-<%= clientThemeVariant %><% } %>">
    <div class="container-fluid">
        <div *ngIf="account"></div>
        <ng-container *ngIf="!account">
            <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
                <span class="logo-img"></span>
                <span <%= jhiPrefix %>Translate="global.title" class="navbar-title">Title</span>
                <span class="navbar-version">{{ version }}</span>
            </a>
            <a
                    class="navbar-toggler d-lg-none"
                    href="javascript:void(0);"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    (click)="toggleNavbar()"
            >
                <fa-icon icon="bars"></fa-icon>
            </a>
        </ng-container>

        <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
            <ul class="navbar-nav ms-auto">


                <%_ if (enableTranslation) { _%>
                <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
                    <jhi-language [isNavbarCollapsed]="isNavbarCollapsed" (isNavbarCollapsedEvent)="isNavbarCollapsed = $event"></jhi-language>
                </li>
                <%_ } _%>
                <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
          <span *ngIf="!account?.imageUrl">
            <fa-icon icon="user"></fa-icon>
            <span <%= jhiPrefix %>Translate="global.menu.account.main">Account</span>
          </span>
                        <span *ngIf="account?.imageUrl">
            <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
          </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                        <%_ if (!skipUserManagement) { _%>
                            <li *ngSwitchCase="true">
                                <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
                                    <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                                    <span <%= jhiPrefix %>Translate="global.menu.account.settings">Settings</span>
                                </a>
                            </li>
                            <li *ngSwitchCase="true">
                                <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()" data-cy="passwordItem">
                                    <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                                    <span <%= jhiPrefix %>Translate="global.menu.account.password">Password</span>
                                </a>
                            </li>
                        <%_ } _%>
                        <%_ if (authenticationTypeSession && !skipUserManagement) { _%>
                            <li *ngSwitchCase="true">
                                <a class="dropdown-item" routerLink="account/sessions" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon icon="cloud" [fixedWidth]="true"></fa-icon>
                                    <span <%= jhiPrefix %>Translate="global.menu.account.sessions">Sessions</span>
                                </a>
                            </li>
                        <%_ } _%>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                                <span <%= jhiPrefix %>Translate="global.menu.account.logout">Logout</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                                <span <%= jhiPrefix %>Translate="global.menu.account.login">Login</span>
                            </a>
                        </li>
                        <%_ if (!skipUserManagement) { _%>
                            <li *ngSwitchCase="false">
                                <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" data-cy="register">
                                    <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                                    <span <%= jhiPrefix %>Translate="global.menu.account.register">Register</span>
                                </a>
                            </li>
                        <%_ } _%>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
