<div>
    <a class="navbar-brand logo" routerLink="/">
        <span class="logo-img"></span>
        <div class="d-grid c-white sidebar-title">
            <span jhiTranslate="global.title" class="navbar-title" style="font-weight: 700">Title</span>
            <small class="navbar-version">Version {{ version }}</small>
        </div>
    </a>
</div>

<div class="menu-title"></div>

<ul nz-menu nzTheme="dark" nzMode="inline" style="user-select: none">
    <ng-container *ngFor="let link of entities">
        <ng-container>
            <li
                    nz-submenu
                    [(nzOpen)]="link.open"
                    (nzOpenChange)="closeItems(link)"
                    nzTitle="{{ link.translationKey | translate }}"
                    *ngIf="link.children"
            >
                <ul>
                    <ng-container *ngFor="let menu of link.children">
                        <li nz-menu-item nzMatchRouter routerLink="{{ menu.route }}">
                            <div class="d-flex align-items-center">
                                <span jhiTranslate="{{ menu.translationKey }}">{{ menu.name }}</span>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </li>

            <li nz-menu-item nzMatchRouter routerLink="{{ link.route }}" *ngIf="!link.children">
                <div class="d-flex align-items-center">
                    <span jhiTranslate="{{ link.translationKey }}">{{ link.name }}</span>
                </div>
            </li>
        </ng-container>
    </ng-container>

    <li nz-submenu nzTitle="{{ 'global.menu.admin.main' | translate }}">
        <ul>
            <ng-container *ngFor="let item of adminItems">
                <li nz-menu-item nzMatchRouter [routerLink]="item.route" [jhiTranslate]="item.translationKey">
                    {{ item.name }}
                </li>
            </ng-container>
        </ul>
    </li>
</ul>
