type SidebarItem = {
    name: string;
    route: string;
    <%_ if (enableTranslation) { _%>
    translationKey: string;
    <%_ } _%>
    open?: boolean;
    children?: SidebarItem[];
};

export default SidebarItem;
