<form [formGroup]="editForm" (ngSubmit)="save()">
    <div class="modal-header">
        <h5 class="modal-title" jhiTranslate="<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.home.createOrEditLabel"><%= entityClassPluralHumanized; %> Create or edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
    </div>

    <div class="modal-body">
        <bm-alert></bm-alert>

        <div class="form-row">
            <%_; for (const field of fields) {
                const fieldName = field.fieldName;
                const fieldType = field.fieldType;
            _%>
                <div class="<%_; if (fieldType === 'byte[]') { _%>form-group col-md-12 <%_ } else { _%>form-group col-md-3 <%_ } _%>" <%_; if (fieldName === 'id') { _%>*ngIf="data.id"<%_ }_%>>
                    <label class="label-required" jhiTranslate="<%= `${this.getTranslationKey(frontendAppName, entityTranslationKey)}.${field.fieldName}`; %>" for="field_<%= fieldName %>">Short Name</label>
                    <%_; if (["Instant", "ZonedDateTime", "LocalDate"].includes(fieldType)) { _%>
                        <nz-date-picker formControlName="<%= fieldName%>" id="field_<%= fieldName%>" input-validator nzSize="large" nzFormat="dd.MM.yyyy" nzInputReadOnly></nz-date-picker>
                    <%_ } else if (["Long", "Integer", "BigDecimal"].includes(fieldType)) { _%>
                        <input nz-input type="number" nzSize="large" formControlName="<%= fieldName%>" input-validator id="field_<%= fieldName%>" />
                    <%_ } else if (["String", "Double", "UUID"].includes(fieldType)) { _%>
                        <input nz-input nzSize="large" formControlName="<%= fieldName%>" id="field_<%= fieldName%>" input-validator />
                    <%_ } else if (fieldType === "Boolean") { _%>
                        <br />
                        <nz-switch
                                id="field_<%= fieldName%>"
                                formControlName="<%= fieldName%>"
                                nzCheckedChildren="{{ 'global.active.true' | translate }}"
                                nzUnCheckedChildren="{{ 'global.active.false' | translate }}"
                        >
                        </nz-switch>
                    <%_ } else if (field.fieldIsEnum) { _%>
                        <bm-select-input
                                [data]="<%= this._.lowerFirst(fieldType)%>"
                                formControlName="<%= fieldName %>"
                                input-validator
                                id="field_<%= fieldName %>"
                        ></bm-select-input>
                    <%_ } else if (fieldType === "byte[]") { _%>
                        <textarea nz-input id="field_<%= fieldName %>" formControlName="<%= fieldName %>" input-validator></textarea>
                    <%_ } %>
                </div>
            <%_ } _%>
            <%_; for (const relationship of relationships.filter(r => r.ownerSide) ) {
                const relationshipFieldNamePlural = "field_" + relationship.relationshipFieldNamePlural;
                const { relationshipType, relationshipName, propertyName, otherEntityField } = relationship;
                const translationKey = `${this.getTranslationKey(frontendAppName, entityTranslationKey)}.${relationshipName}`;
                const relationshipNameHumanized = relationship.relationshipNameHumanized;
            _%>
                <div class="form-group col-md-3">
                    <label class="label-required" jhiTranslate="<%= translationKey %>" for="<%= relationshipFieldNamePlural %>"><%= relationshipNameHumanized %></label>
                    <bm-select-input
                            [requestUrl]="<%_; if(relationship.otherEntityAngularName !== entityAngularName) { _%><%= this._.lowerFirst(relationship.otherEntityName) %><%_ } else { _%>entity<%_ } _%>Service.resourceUrl"
                            formControlName="<%= propertyName %>"
                            id="field_<%= propertyName %>"
                            [bmServerSearch]="true"
                            [bmShowSearch]="true"
                            bmMode="<%_; if (relationshipType === "many-to-many") { _%>multiple<%_ } else { _%>default<%_ } _%>"
                            bmLabelField="<%= otherEntityField %>"
                    ></bm-select-input>
                </div>
            <%_ } _%>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" nz-button nzSize="large" nzType="text" jhiTranslate="entity.action.cancel" (click)="closeModal()">Cancel</button>
        <button nz-button nzSize="large" nzType="primary" [nzLoading]="loading" [input-validator-button]="editForm">
            {{ 'entity.action.save' | translate }}
        </button>
    </div>
</form>
