<%
const enumImports = this.generateEntityClientEnumImports(fields);
%>


import {Component, OnDestroy, OnInit} from "@angular/core";
import {EntityUpdateBaseComponent} from "app/shared/entity/entity-update-base-component";
import {NgbActiveModal} from "@ng-bootstrap/ng-bootstrap";
import {Event} from "app/config/event.constants";
import { Validators } from '@angular/forms';

<%_
    Object.keys(differentRelationships).forEach(key => {
        if (differentRelationships[key].some(rel => rel.relationshipManyToOne || rel.relationshipOneToMany || (rel.relationshipOneToOne && rel.ownerSide) || (rel.relationshipManyToMany && rel.ownerSide))) {
            const uniqueRel = differentRelationships[key][0];
            if (uniqueRel.otherEntityAngularName !== entityAngularName) {
            _%>
                import { <%= uniqueRel.otherEntityAngularName %>Service } from 'app/entities/<%= uniqueRel.otherEntityPath %>/service/<%= uniqueRel.otherEntityFileName %>.service';
            <%_
            }
        }
    });
_%>


import { I<%= entityAngularName %> } from '../<%= entityFileName %>.model';
import { <%= entityAngularName %>Service } from '../service/<%= entityFileName %>.service';
<%_; enumImports.forEach((importedPath, importedType) => { _%>
    import { <%- importedType %> } from '<%- importedPath %>';
<%_ }); _%>

@Component({
    selector: '<%= jhiPrefixDashed %>-<%= entityFileName %>',
    templateUrl: './<%= entityFileName %>-update.component.html',
})
export class <%= entityAngularName %>UpdateComponent extends EntityUpdateBaseComponent<I<%= entityAngularName %>, <%= entityAngularName %>Service> implements OnInit, OnDestroy {
    <%_; enumImports.forEach((importedPath, importedType) => { _%>
        <%- this._.lowerFirst(importedType) %> = Object.keys(<%- importedType %>)
    <%_ }); _%>

    constructor(
        protected readonly entityService: <%= entityAngularName %>Service,
        private readonly activeModal: NgbActiveModal,
<%_
    Object.keys(differentRelationships).forEach(key => {
        if (differentRelationships[key].some(rel => rel.relationshipManyToOne || rel.relationshipOneToMany || (rel.relationshipOneToOne && rel.ownerSide) || (rel.relationshipManyToMany && rel.ownerSide))) {
            const uniqueRel = differentRelationships[key][0];
        if (uniqueRel.otherEntityAngularName !== entityAngularName) {
        _%>
            protected readonly <%= uniqueRel.otherEntityName %>Service: <%= uniqueRel.otherEntityAngularName %>Service,
        <%_
        }
        }
    });
_%>
    ) {
        super(activeModal, entityService, Event.<%= entityAngularName.toUpperCase() %>_LIST_MODIFICATION);
    }

    ngOnInit(): void {
        this.createEditForm({
        <%_; for ( const field of fields ) { _%>
            <%= field.fieldName %> : [<%_; if (field.fieldName === "id") { _%>{disabled: true, value: null}<%_ } else if (field.fieldType !== "Boolean") { _%>null<%_ } else { _%>false<%_ } _%><% if (field.fieldValidate === true) {  %>,[<% if (field.fieldValidateRules.includes('required')) { %>Validators.required,<% } %><% if (field.fieldValidateRules.includes('minlength')) { %>Validators.minLength(<%= field.fieldValidateRulesMinlength %>),<% } %><% if (field.fieldValidateRules.includes('maxlength')) { %>Validators.maxLength(<%= field.fieldValidateRulesMaxlength %>),<% } %><% if (field.fieldValidateRules.includes('min')) { %>Validators.min(<%= field.fieldValidateRulesMin %>),<% } %><% if (field.fieldValidateRules.includes('max')) { %>Validators.max(<%= field.fieldValidateRulesMax %>),<% } %><% if (field.fieldType === "UUID") { %>Validators.pattern('^[0-9a-fA-F]{8}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{12}$'),<% } %><% if (field.fieldValidateRules.includes('pattern')) { %>Validators.pattern('<%= field.fieldValidateRulesPattern.replace(/\\/g, '\\\\') %>'),<% } %>]<% } %>],
        <%_; } _%>
        <%_; for ( const relationship of relationships) {
            const relationshipType = relationship.relationshipType;
            const ownerSide = relationship.ownerSide;
            const relationshipName = relationship.relationshipName;
            const relationshipFieldNamePlural = relationship.relationshipFieldNamePlural;
            const relationshipRequired = relationship.relationshipRequired;
        _%>
        <%_; if (relationshipType === 'many-to-one' || (relationshipType === 'one-to-one' && ownerSide === true)) { _%>
            <%= relationshipName %>: [<% if (relationshipRequired) { %>null,Validators.required<% } %>],
        <%_ } else if (relationshipType === 'many-to-many' && relationship.ownerSide === true) { _%>
            <%= relationshipFieldNamePlural %>: [<% if (relationshipRequired) { %>null,Validators.required<% } %>],
        <%_ } _%>
    <%_ } _%>
        });
    }

    ngOnDestroy(): void {
        this.unsubscribe();
    }
}
