<div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0"
        <%= jhiPrefix; %>Translate="<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.home.title"><%= entityClassPluralHumanized; %></h4>

    <div>
        <nz-badge [nzCount]="filterRef.querySize">
            <button nz-button nzSize="large" jhiTranslate="entity.action.filter" (click)="showFilter = !showFilter">
                Filter
            </button>
        </nz-badge>

        <ngl-export-as
                *ngIf="data?.length"
                class="ml-2"
                [data]="data"
                requestUrl="{{ mainService.resourceUrl }}"
                [requestOption]="getOption"
                translationPrefix="<%= i18nKeyPrefix; %>"
                fileName="<%= entityClassPluralHumanized; %>"
        >
        </ngl-export-as>
        <%_; if (readOnly === false) { _%>
            <button
                    type="button"
                    nz-button
                    nzSize="large"
                    nzType="primary"
                    jhiTranslate="entity.action.add"
                    class="ml-2"
                    *jhiHasAnyAuthority="[authority.<%= this.getRoleType("create", entity.entityAngularName) %>]"
                    (click)="mainService.openUpdate()"
            >
                Add
            </button>
        <%_; } _%>
    </div>
</div>

<ngl-filter-field [hidden]="!showFilter" [fields]="filterFields" (onFilter)="setQuery($event); loadPage()" #filterRef>
    <span filterBtnText translate="entity.action.filter"></span>
    <span clearBtnText translate="entity.action.clear"></span>
</ngl-filter-field>

<div class="table-responsive">
    <nz-table [nzLoading]="loading" nzSize="small" [nzData]="data" [nzPageSize]="0" nzOuterBordered>
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <%_; for (const field of fields) { _%>
                <th jhiSortBy="<%= field.fieldName %>">
                    <span <%= jhiPrefix; %>Translate="<%= `${this.getTranslationKey(frontendAppName, entityTranslationKey)}.${field.fieldName}`; %>"><%= field.fieldNameHumanized; %></span>
                    <%_; if (!paginationNo) { _%>
                    <sort-icon icon="sort"></sort-icon>
                    <%_; } _%>
                </th>
            <%_; } _%>
            <%_; for (const relationship of relationships.filter(r => r.ownerSide)) { _%>
                <th jhiSortBy="<%= relationship.relationshipFieldName + "." + relationship.relatedField.fieldName %>">
                    <span <%= jhiPrefix; %>Translate="<%= `${this.getTranslationKey(frontendAppName, entityTranslationKey)}.${relationship.relationshipFieldName}`; %>"><%= relationship.relationshipNameHumanized; %></span>
                    <%_; if (!paginationNo) { _%>
                    <sort-icon icon="sort"></sort-icon>
                    <%_; } _%>
                </th>
            <%_; } _%>

            <th style="width: 124px">
                <span jhiTranslate="entity.action.actions"></span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let model of data" data-cy="entityTable">
            <%_
            for ([idx, field] of fields.filter(field => !field.hidden).entries()) {
                const fieldName = field.fieldName;
                const fieldType = field.fieldType;
            _%>
                <%_; if (["Instant", "ZonedDateTime"].includes(fieldType)) { _%>
                    <td>{{ model.<%= fieldName; %> | date: 'medium' }}</td>
                <%_; } else if (fieldType === "Long") { _%>
                    <td>{{ model.<%= fieldName; %> }}</td>
                <%_; } else if (fieldType === "LocalDate") { _%>
                    <td>{{ model.<%= fieldName; %> | date: 'mediumDate' }}</td>
                <%_; } else if (fieldType === "Duration") { _%>
                    <td title="{{ model.<%= fieldName; %> }}">
                        {{ model.<%= fieldName; %> | duration }}
                    </td>
                <%_; } else if (["String", "Double"].includes(fieldType)) { _%>
                    <td>{{ model.<%= fieldName; %> }}</td>
                <%_; } else { _%>
                    <td>{{ model.<%= fieldName; %> }}</td>
                <%_; } _%>
            <%_; } _%>

            <%_; for (const relationship of relationships.filter(r => r.ownerSide)) {
                const relationshipFieldNamePlural = relationship.relationshipFieldNamePlural;
            _%>
                <%_; if (relationship.relationshipManyToMany || relationship.relationshipOneToMany) { _%>
                    <td>
                        <bm-array [items]="model.<%= relationshipFieldNamePlural; %>" column="<%= relationship.otherEntityField %>"></bm-array>
                    </td>
                <%_; } else { _%>
                    <td>
                        <div *ngIf="model.<%= relationship.relationshipName; %>">
                            {{ model.<%= relationship.relationshipName; %>?.<%= relationship.otherEntityField; %> }}
                        </div>
                    </td>
                <%_; } _%>
            <%_; } _%>

            <td width="10" class="text-right">
                <nz-button-group nzSize="small">
                    <button nz-button (click)="mainService.openView(model)" title="{{ 'entity.action.view' | translate }}">
                        <i nz-icon nzType="eye" class="icon-btn"></i>
                    </button>
                    <%_; if (readOnly === false) { _%>
                        <button nz-button (click)="mainService.openUpdate(model)" *jhiHasAnyAuthority="[authority.<%= this.getRoleType("update", entity.entityAngularName) %>]" title="{{ 'entity.action.edit' | translate }}">
                            <i nz-icon nzType="edit" class="icon-btn"></i>
                        </button>
                        <button nz-button (click)="mainService.openDelete(model.id)" *jhiHasAnyAuthority="[authority.<%= this.getRoleType("delete", entity.entityAngularName) %>]" title="{{ 'entity.action.delete' | translate }}">
                            <i nz-icon nzType="delete" class="icon-btn"></i>
                        </button>
                    <%_; } _%>
                </nz-button-group>
            </td>
        </tr>
        </tbody>
    </nz-table>
</div>


<div class="d-flex justify-content-center mt-3">
    <nz-pagination
            [nzPageIndex]="ngbPaginationPage"
            [nzTotal]="totalItems"
            [nzPageSize]="itemsPerPage"
            (nzPageIndexChange)="loadPage($event)"
    >
    </nz-pagination>
</div>
