import { Pipe, PipeTransform } from '@angular/core';

@Pipe({ name: 'findLanguageFromKey' })
export class FindLanguageFromKeyPipe implements PipeTransform {
  private languages: { [key: string]: { name: string; rtl?: boolean } } = {
    <%_; if (languages.includes('en')) { _%>
    en: { name: 'English' },
    <%_ } _%>
    <%_; if (languages.includes('ru')) { _%>
    ru: { name: 'Русский' },
    <%_ } _%>
    <%_; if (languages.includes('uz-Latn-uz')) { _%>
    "uz-Latn-uz": { name: "O'zbekcha" },
    <%_ } _%>
    <%_; if (languages.includes('uz-Cyrl-uz')) { _%>
    "uz-Cyrl-uz": { name: 'Узбекча' },
    <%_ } _%>
    // jhipster-needle-i18n-language-key-pipe - JHipster will add/remove languages in this object
  };

  transform(lang: string): string {
    return this.languages[lang].name;
  }
}
