import {NgModule} from "@angular/core";
import {RouterModule} from "@angular/router";

import {SharedModule} from "app/shared/shared.module";

import <%= entityInstance %>Route  from './<%= entityFileName %>.routes';
import {<%= entityAngularName ;%>Component}  from './list/<%= entityFileName %>.component';
import {<%= entityAngularName ;%>UpdateComponent}  from './update/<%= entityFileName %>-update.component';


@NgModule({
    declarations: [
        <%= entityAngularName %>Component,
        <%= entityAngularName %>UpdateComponent,
    ],
    imports: [
        SharedModule,
        RouterModule.forChild(<%= entityInstance %>Route)
    ]
})
export class <%= entityAngularName %>Module {}
