<%#
 Copyright 2013-2022 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import { Injectable } from '@angular/core';
import { Router } from '@angular/router';
import { HttpClient } from '@angular/common/http';
<%_ if (enableTranslation) { _%>
import { TranslateService } from '@ngx-translate/core';
import { SessionStorageService } from 'ngx-webstorage';
<%_ } _%>
import { Observable, ReplaySubject, of } from 'rxjs';
import { shareReplay, tap, catchError } from 'rxjs/operators';

import { StateStorageService } from 'app/core/auth/state-storage.service';
import { ApplicationConfigService } from '../config/application-config.service';
import { Account } from 'app/core/auth/account.model';
<%_ if (communicationSpringWebsocket) { _%>
import { TrackerService } from '../tracker/tracker.service';
<%_ } _%>

@Injectable({ providedIn: 'root' })
export class AccountService {
  private userIdentity: Account | null = null;
  private authenticationState = new ReplaySubject<Account | null>(1);
  private accountCache$?: Observable<Account> | null;

  constructor(
<%_ if (enableTranslation) { _%>
    private translateService: TranslateService,
    private sessionStorageService: SessionStorageService,
<%_ } _%>
    private http: HttpClient,
<%_ if (communicationSpringWebsocket) { _%>
    private trackerService: TrackerService,
<%_ } _%>
    private stateStorageService: StateStorageService,
    private router: Router,
    private applicationConfigService: ApplicationConfigService
  ) {}

<%_ if (!skipUserManagement) { _%>
  save(account: Account): Observable<{}> {
    return this.http.post(this.applicationConfigService.getEndpointFor('api/account'), account);
  }
<%_ } _%>

  authenticate(identity: Account | null): void {
    this.userIdentity = identity;
    this.authenticationState.next(this.userIdentity);
    if (!identity) {
      this.accountCache$ = null;
    }
<%_ if (communicationSpringWebsocket) { _%>
    if (identity) {
      this.trackerService.connect();
    } else {
      this.trackerService.disconnect();
    }
<%_ } _%>
  }

  <%_; if (!this.isRoleHard()) { _%>
  hasAnyAuthority(authorities: string[] | string): boolean {
    if (!this.userIdentity) {
      return false;
    }
    if (!Array.isArray(authorities)) {
      authorities = [authorities];
    }
    return this.userIdentity.authorities.some((authority: string) => authorities.includes(authority));
  }
  <%_ } else { _%>
  hasAnyAuthority(authorities: string[] | string, includeAdmin = true): boolean {
      if (!this.userIdentity || !this.userIdentity.authorities) {
        return false;
      }
      if (!Array.isArray(authorities)) {
        authorities = [authorities];
      }
      if (includeAdmin && this.userIdentity.authorities.includes('ROLE_ADMIN')) {
          return true;
      }

      let i = 0;
      let action: boolean | undefined;
      while (i < this.userIdentity.authorities.length) {
        const authorityAction = authorities[i].split("_");
        let b = 0;
        while (b < this.userIdentity.authorities.length) {
            const roleAction = this.userIdentity.authorities[b].split("_")
            if (authorityAction[0] === roleAction[0]) {
                action = roleAction.indexOf(authorityAction[1]) >= 0;
                break;
            }
            b++;
        }
        i++;
        if (action !== undefined) {
            break;
        }
      }
      return action;
  }
  <%_ } _%>
  identity(force?: boolean): Observable<Account | null> {
    if (!this.accountCache$ || force) {
      this.accountCache$ = this.fetch().pipe(
        tap((account: Account) => {
          this.authenticate(account);

<%_ if (enableTranslation) { _%>
          // After retrieve the account info, the language will be changed to
          // the user's preferred language configured in the account setting
          // unless user have choosed other language in the current session
          if (!this.sessionStorageService.retrieve('locale')) {
            this.translateService.use(account.langKey);
          }
<%_ } _%>

          this.navigateToStoredUrl();
        }),
        shareReplay()
      );
    }
    return this.accountCache$.pipe(catchError(() => of(null)));
  }

  isAuthenticated(): boolean {
    return this.userIdentity !== null;
  }

  getAuthenticationState(): Observable<Account | null> {
    return this.authenticationState.asObservable();
  }

  private fetch(): Observable<Account> {
    return this.http.get<Account>(this.applicationConfigService.getEndpointFor('api/account'));
  }

  private navigateToStoredUrl(): void {
    // previousState can be set in the authExpiredInterceptor and in the userRouteAccessService
    // if login is successful, go to stored previousState and clear previousState
    const previousUrl = this.stateStorageService.getUrl();
    if (previousUrl) {
      this.stateStorageService.clearUrl();
      this.router.navigateByUrl(previousUrl);
    }
  }
}
