import { NglFilterField } from 'ngl-filter-field';
import { Observable } from 'rxjs';
import { HttpResponse } from '@angular/common/http';

export interface IEntityConfig {
  getFilterFields(): NglFilterField[];

  openUpdate?<T>(model?: T, duplicate?: boolean): void;

  openView?<T>(model: T): void;

  openDelete?(id: number | string): void;

  openHistory?(id: number): void;
}

export interface IEntityCrud<ENTITY> {
  create?(entity: ENTITY): Observable<HttpResponse<ENTITY>>;
  update?(entity: ENTITY): Observable<HttpResponse<ENTITY>>;
  find?(id: number): Observable<ENTITY>;
  query(req?: any): Observable<HttpResponse<ENTITY[]>>;
  delete?(id: number): Observable<HttpResponse<{}>>;
}

export interface IEntityServiceModel<ENTITY> extends IEntityConfig, IEntityCrud<ENTITY> {
  resourceUrl: string;
}
