<%#
 Copyright 2013-2022 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy":
            "Сизнинг браузерингиз <strong>эски</strong>. Илтимос, браузерингизни<a href=\"http://browsehappy.com/?locale=en\">янгиланг</a>.",
        "entity-view": "Вид {{id}}",
        "active": {
            "true": "To'g'ri",
            "false": "Yolg'on"
        },
        "data": {
            "saved": "Ma`lumotlar muvofaqqiyatli saqlandi",
            "notSaved": "Ma`lumotlar saqlanmadi",
            "updated": "Ma`lumotlar muvofaqqiyatli o`zgartirildi",
            "notUpdated": "Ma`lumotlar o`zgartirilmadi",
            "notFound": "Ma`lumotlar topilmadi"
        },
        "question": {
            "delete": "Siz haqiqatan ham ushbu elementni o'chirmoqchimisiz?"
        },
        "version": "Versiya: {{version}}",
        "menu": {
            "home": "Бош саҳифа",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Маълумотлар",
                <%_
                const microservices = new Set([]);

                this.localEntities.forEach(item => {
                    if (item.microserviceName) {
                        microservices.add(item.microserviceName);
                    }
                })
                        for (const item of microservices) {
                _%>
                    "<%= item %>": "<%= item[0].toUpperCase() + item.replace("ms", "").slice(1)%> MS",
                <%_ } _%>
                <%_; for (const entity of this.localEntities) { _%>
                    "<%= entity.entityTranslationKeyMenu %>": "<%= entity.entityClassHumanized %>",
                <%_ } _%>
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Профил",
                "settings": "Созламалар",
                "password": "Парол",
                "sessions": "Сессиялар",
                "login": "Кириш",
                "logout": "Чиқиш",
                "register": "Рўйхатдан ўтиш"
            },
            "admin": {
                "main": "Бошқарув",
<%_ if (applicationTypeGateway) { _%>
                "gateway": "Шлюз",
<%_ } _%>
                "userManagement": "Фойдалаувчилар бошқаруви",
                "tracker": "Фойдалаувчи кузатуви",
                "metrics": "Метрикалар",
                "health": "Ҳолат",
                "configuration": "Созламалар",
                "logs": "Логлар",
                "apidocs": "API",
                "database": "Маълумотлар базаси",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Til"
        },
        "form": {
            "username": "Логин",
            "username.placeholder": "Сизнинг логинингиз",
            "currentpassword.label": "Ҳозирги паролингиз",
            "currentpassword.placeholder": "Ҳозирги паролингиз",
            "newpassword.label": "Янги парол",
            "newpassword.placeholder": "Янги парол",
            "confirmpassword": "Янги паролнинг тасдиғи",
            "confirmpassword.placeholder": "Янги паролнинг тасдиғи",
            "email": "Email",
            "email.placeholder": "Сизнинг email"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "Агар ",
                    "link": "автаризациядан ўтишни",
                    "suffix":
                        ", хоҳласангиз, мавжуд фойдаланувчини текшириб кўринг:<<br/>- Маъмур (логин=\"admin\" and парол=\"admin\") <br/>- Оддий фойдаланувчи (логин=\"user\" and парол=\"user\")."
                },
                "register": {
                    "noaccount": "Сиз рўйхатдан ўтмаганмисиз?",
                    "link": "Янги фойдаланувчи қўшинг"
                }
            },
            "error": {
                "dontmatch": "Парол ва унинг тасдиғи мос келмади!"
            },
            "validate": {
                "newpassword": {
                    "required": "Парол киритилиши зарур.",
                    "minlength": "Парол  узунлиги камида 4 ҳарфдан иборат бўлсин.",
                    "maxlength": "Парол 50 ҳарфдан узун бўлмасин.",
                    "strength": "Парол мураккаблиги:"
                },
                "confirmpassword": {
                    "required": "Парол тасдиғи киритилиши зарур.",
                    "minlength": "Парол тасдиғи узунлиги камида 4 ҳарфдан иборат бўлсин.",
                    "maxlength": "Парол тасдиғи 50 ҳарфдан узун бўлмасин."
                },
                "email": {
                    "required": "Email киритилиши зарур.",
                    "invalid": "Илтимос, тўғри Email киритинг.",
                    "minlength": "Email узунлиги камида 5 ҳарфдан иборат бўлсин.",
                    "maxlength": "Email 50 ҳарфдан узун бўлмасин."
                }
            }
        },
        "field": {
            "id": "ID"
        },
        "ribbon": {
            "dev": "Созланмоқда"
        },
        "item-count": "{{total}} тадан ({{first}} - {{second}}) - лари."
    },
    "entity": {
        "action": {
            "addblob": "Бинар маълумот қўшиш",
            "addimage": "Расм қўшиш",
            "back": "Орқага",
            "add": "Кўшиш",
            "filter": "Фильтр",
            "clear": "Тозалаш",
            "cancel": "Бекор қилиш",
            "delete": "Ўчириш",
            "edit": "Ўзгартириш",
            "open": "Очиш",
            "save": "Сақлаш",
            "view": "Кўриш"
        },
        "detail": {
            "field": "Майдон",
            "value": "Қиймат"
        },
        "delete": {
            "title": "Ўчириш амалини тасдиқланг"
        },
        "validation": {
            "required": "Ушбу майдон тўлдирилиши шарт.",
            "minlength": "Ушбу майдон камида {{min}} белгидан иборат бўлиши зарур.",
            "maxlength": "Ушбу майдон {{max}} белгидан ошмаслиги зарур.",
            "min": "Ушбу майдоннинг энг кичик қиймати {{min}} бўлиши зарур.",
            "max": "Ушбу майдон қиймати {{ max }} дан ошмаслиги зарур.",
            "minbytes": "Ушбу майдон камида {{min}} байт бўлиши зарур.",
            "maxbytes": "Ушбу майдон {{max}} байтдан ошмаслиги зарур.",
            "pattern": "Ушбу майдон {{ pattern }} форматида бўлиши зарур.",
            "number": "Ушбу майдон сон бўлиши шарт.",
            "datetimelocal": "Ушбу майдон сана - вақт бирлиги бўлиши зарур.",
            "patternLogin": "Ушбу майдон фақат ҳарф, рақам ёки email манзил бўлиши мумкин."
        }
    },
    "error": {
        "internalServerError": "Ички хатолик",
        "server.not.reachable": "Серверга боғланиш имкони йўқ",
        "url.not.found": "Маълумот топилмади",
        "NotNull": "{{ fieldName }} майдони бўш бўлиши мумкин эмас!",
        "Size": "{{ fieldName }} майдонинг ўлчами нотўғри!",
        "userexists": "Ушбу фойдаланувчи номи тизимда мавжуд!",
        "emailexists": "Email аллақачон тизимда мавжуд!",
        "idexists": "Янги {{ entityName }} IDси тизимда мавжуд ID бўлмаслиги керак.",
        "idnull": "Нотўғри ID",
        "idinvalid": "Invalid Id",
        "idnotfound": "ID cannot be found",
        "file": {
            "could.not.extract": "Файлни чиқариб бўлмайди",
            "not.image": "Файл расм бўлиши керак эди, лекин \"{{ fileType }}\" топилди"
        }
    },
    "download": {
        "excel": "Excel sifatida export",
        "onePage": "Bitta sahifa",
        "all": "Hamma sahifa",
        "custom": "Qo'lda kiritish",
        "confirm": {
            "modal": {
                "title": "Excel eksport",
                "message": "Bu jarayon uzoq vaqt talab qilishi va bazaga og'irlik qilishi mumkin. Ushbu jarayonni amalga oshirishni hoxlaysizmi?",
                "totalItems": "Hammasi"
            }
        }
    },
    "footer": "Саҳифанинг остки қисми"
}
