export enum Authority {
    ADMIN = 'ROLE_ADMIN',
    USER = 'ROLE_USER',
<%_ for (const entity of this.localEntities) { _%>
    <%= this.getRoleType("read", entity.entityAngularName) %> = '<%= this.getRoleType("read", entity.entityAngularName, true) %>',
    <%= this.getRoleType("delete", entity.entityAngularName) %> = '<%= this.getRoleType("delete", entity.entityAngularName, true) %>',
    <%= this.getRoleType("update", entity.entityAngularName) %> = '<%= this.getRoleType("update", entity.entityAngularName, true) %>',
    <%= this.getRoleType("create", entity.entityAngularName) %> = '<%= this.getRoleType("create", entity.entityAngularName, true) %>',
<%_ } _%>
}
