export enum Event {
<%_ for (const entity of this.localEntities) { _%>
    <%= entity.entityAngularName.toUpperCase() %>_LIST_MODIFICATION = '<%= entity.entityAngularName.toUpperCase() %>_LIST_MODIFICATION',
<%_ } _%>
    INPUT_VALIDATOR = "INPUT_VALIDATOR",
}
