<nz-select
  nzSize="large"
  [nzLoading]="loading"
  [nzShowArrow]="true"
  [nzDisabled]="disabled"
  [nzShowSearch]="bmShowSearch"
  [nzServerSearch]="bmServerSearch"
  [nzMaxTagCount]="bmMaxTagCount"
  [nzOptionOverflowSize]="8"
  [nzMode]="bmMode"
  [nzAllowClear]="bmAllowClear"
  [compareWith]="compareFn"
  [nzTokenSeparators]="[',']"
  [(ngModel)]="item"
  (ngModelChange)="emitValue()"
  (nzOnSearch)="onSearch($event)"
>
  <nz-option
    *ngFor="let i of data"
    [nzValue]="bmValueField ? i[bmValueField] : i"
    [nzLabel]="bmLabelField ? i[bmLabelField] : getTranslate(i)"
  ></nz-option>
</nz-select>
