<form *ngIf="useFunction" (ngSubmit)="delete()">
  <div class="modal-header">
    <h5 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h5>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
  </div>

  <div class="modal-body">
    <bm-alert></bm-alert>

    <p jhiTranslate="global.question.delete">Are you sure you want to delete this element?</p>
  </div>

  <div class="modal-footer">
    <button type="button" nz-button nzType="text" nzSize="large" jhiTranslate="entity.action.cancel" data-dismiss="modal" (click)="close()">
      Cancel
    </button>

    <button type="submit" nz-button nzDanger nzSize="large" [nzLoading]="loading" jhiTranslate="entity.action.delete">Delete</button>
  </div>
</form>
