<%#
 Copyright 2013-2022 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import { Component, OnInit<% if (enableTranslation) { %>, RendererFactory2, Renderer2<% } %> } from '@angular/core';
import { Title } from '@angular/platform-browser';
import { Router, ActivatedRouteSnapshot, NavigationEnd } from '@angular/router';
<%_ if (enableTranslation) { _%>
import { TranslateService, LangChangeEvent } from '@ngx-translate/core';
import * as dayjs from 'dayjs';
<%_ } _%>

import { AccountService } from 'app/core/auth/account.service';


@Component({
selector: 'jhi-main',
templateUrl: './main.component.html',
styles: [`
@import '../../../content/scss/ng-zorro/ng-zorro-overrides';
`]
})
export class MainComponent implements OnInit {
<%_ if (enableTranslation) { _%>
private renderer: Renderer2;
<%_ } _%>

constructor(
protected accountService: AccountService,
private titleService: Title,
private router: Router,
<%_ if (enableTranslation) { _%>
private translateService: TranslateService,
rootRenderer: RendererFactory2
<%_ } _%>
) {
<%_ if (enableTranslation) { _%>
this.renderer = rootRenderer.createRenderer(document.querySelector('html'), null);
<%_ } _%>
}

ngOnInit(): void {
// try to log in automatically
this.accountService.identity().subscribe();

this.router.events.subscribe(event => {
if (event instanceof NavigationEnd) {
this.updateTitle();
}
});

<%_ if (enableTranslation) { _%>
this.translateService.onLangChange.subscribe((langChangeEvent: LangChangeEvent) => {
this.updateTitle();
dayjs.locale(langChangeEvent.lang);
this.renderer.setAttribute(document.querySelector('html'), 'lang', langChangeEvent.lang);


});
<%_ } _%>
}

private getPageTitle(routeSnapshot: ActivatedRouteSnapshot): string {
const title: string = routeSnapshot.data['pageTitle'] ?? '';
if (routeSnapshot.firstChild) {
return this.getPageTitle(routeSnapshot.firstChild) || title;
}
return title;
}

private updateTitle(): void {
let pageTitle = this.getPageTitle(this.router.routerState.snapshot.root);
if (!pageTitle) {
pageTitle = '<% if (enableTranslation) { %>global.title<% } else { %><%= humanizedBaseName %><% } %>';
}
<%_ if (enableTranslation) { _%>
this.translateService.get(pageTitle).subscribe(title => this.titleService.setTitle(title));
<%_ } else { _%>
this.titleService.setTitle(pageTitle);
<%_ } _%>
}
}
