<%#
 Copyright 2013-2023 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%><%
let helpBlocks = 0; %>
{
"<%= frontendAppName %>": {
"<%= entityTranslationKey %>" : {
"home": {
"title": "<%= entityClassPluralHumanized  %>",
"refreshListLabel": "Обновить список",
<%_ if (!readOnly) { _%>
    "createLabel": "Создать новый <%= entityClassHumanized %>",
    "createOrEditLabel": "Создать или отредактировать <%= entityClassHumanized %>",
<%_ } _%>
<%_ if (searchEngine) { _%>
    "search": "Найти <%= entityClassHumanized %>",
<%_ } _%>
"notFound": "<%= entityClassPluralHumanized %> не найдено"
},
<%_ if (!entity.microserviceAppName && !readOnly) { _%>
    "created": "Новый <%= entityClassHumanized %> создан с идентификатором {{ param }}",
    "updated": "<%= entityClassHumanized %> обновлен с идентификатором {{ param }}",
    "deleted": "<%= entityClassHumanized %> удален с идентификатором {{ param }}",
<%_ } _%>
<%_ if (!readOnly) { _%>
    "delete": {
    "question": "Вы уверены что хотите удалить <%= entityClassHumanized %> {{ id }}?"
    },
<%_ } _%>
"detail": {
"title": "<%= entityClassHumanized %>"
}<% for (idx in fields) {
    if (typeof fields[idx].javadoc !== 'undefined') ++helpBlocks; %>,
"<%= fields[idx].fieldName %>": "<%= fields[idx].fieldNameHumanized %>"<% } %><% for (idx in relationships) { %>,
"<%= relationships[idx].relationshipName %>": "<%= relationships[idx].relationshipNameHumanized %>"<% } if (helpBlocks > 0) { %>,
"help": {<% for (idx in fields) {
if (fields[idx].javadoc) {
    --helpBlocks; %>
"<%= fields[idx].fieldName %>": "<%= fields[idx].javadoc %>"<% if (helpBlocks > 0) { %>,<% }
}
} %>
}<% } %>
}
}
<%_ if (entity.microserviceAppName && !readOnly) { _%>,
"<%= microserviceAppName %>": {
"<%= entityTranslationKey %>" : {
"created": "Новый <%= entityClassHumanized %> создан с идентификатором {{ param }}",
"updated": "<%= entityClassHumanized %> обновлен с идентификатором {{ param }}",
"deleted": "<%= entityClassHumanized %> удален с идентификатором {{ param }}"
}
}
<%_ } _%>
}
