<%#
 Copyright 2013-2022 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "Ваш браузер <strong>устарел</strong>. Пожалуйста <a href=\"http://browsehappy.com/?locale=ru\">обновите ваш браузер</a>.",
        "entity-view": "Вид {{id}}",
        "active": {
            "true": "Истинный",
            "false": "ЛОЖЬ"
        },
        "data": {
            "saved": "Данные успешно сохранены",
            "notSaved": "Данные не сохранены",
            "updated": "Данные успешно обновлены",
            "notUpdated": "Данные не обновлены",
            "notFound": "Данные не найдены"
        },
        "question": {
            "delete": "Вы действительно хотите удалить этот элемент?"
        },
        "version": "Версия: {{version}}",
        "menu": {
            "home": "Главная",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Сущности",
                <%_
                const microservices = new Set([]);

                this.localEntities.forEach(item => {
                    if (item.microserviceName) {
                        microservices.add(item.microserviceName);
                    }
                })
                        for (const item of microservices) {
                _%>
                    "<%= item %>": "<%= item[0].toUpperCase() + item.replace("ms", "").slice(1)%> MS",
                <%_ } _%>
                <%_; for (const entity of this.localEntities) { _%>
                    "<%= entity.entityTranslationKeyMenu %>": "<%= entity.entityClassHumanized %>",
                <%_ } _%>
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Профиль",
                "settings": "Настройки",
                "password": "Пароль",
                "sessions": "Сессии",
                "login": "Войти",
                "logout": "Выйти",
                "register": "Зарегистрироваться"
            },
            "admin": {
                "main": "Администрирование",
<%_ if (applicationTypeGateway) { _%>
                "gateway": "Шлюз",
<%_ } _%>
                "userManagement": "Управление пользователями",
                "tracker": "Трекер польз.",
                "metrics": "Метрики",
                "health": "Состояние",
                "configuration": "Настройки",
                "logs": "Логи",
                "apidocs": "API",
                "database": "База данных",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Язык"
        },
        "form": {
            "username.label": "Логин",
            "username.placeholder": "Ваш логин",
            "currentpassword.label": "Текущий пароль",
            "currentpassword.placeholder": "Текущий пароль",
            "newpassword.label": "Новый пароль",
            "newpassword.placeholder": "Новый пароль",
            "confirmpassword.label": "Подтверждение нового пароля",
            "confirmpassword.placeholder": "Подтвердите новый пароль",
            "email.label": "Эл. почта",
            "email.placeholder": "Ваша эл. почта"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "Если вы хотите ",
                    "link": "авторизироваться",
                    "suffix": ", вы можете попробовать аккаунты по умолчанию:<br/>- Администратор (логин=\"admin\" и пароль=\"admin\") <br/>- Пользователь (логин=\"user\" и пароль=\"user\")."
                },
                "register": {
                    "noaccount": "У вас нет аккаунта?",
                    "link": "Создать новый аккаунт"
                }
            },
            "error": {
                "dontmatch": "Пароль и его подтверждение не совпадают!"
            },
            "validate": {
                "newpassword": {
                    "required": "Пароль должен быть указан.",
                    "minlength": "Длина пароля должна быть хотя-бы 4 символов",
                    "maxlength": "Пароль не может быть длиннее чем 50 символов",
                    "strength": "Сложность пароля:"
                },
                "confirmpassword": {
                    "required": "подтверждение пароля должно быть указано.",
                    "minlength": "Длина подтверждения пароля должна быть хотя-бы 4 символов",
                    "maxlength": "Подтверждение пароля не может быть больше чем 50 символов"
                },
                "email": {
                    "required": "Email должен быть указан.",
                    "invalid": "Email не верен.",
                    "minlength": "Длина email должна быть хотя-бы 5 символов",
                    "maxlength": "Email не может быть длиннее чем 50 символов"
                }
            }
        },
        "field": {
            "id" : "ID"
        },
        "ribbon": {
            "dev": "Разработка"
        },
        "item-count": "Показываем {{first}} - {{second}} из {{total}}."
    },
    "entity": {
        "action": {
            "addblob": "Добавить двоичный объект",
            "addimage": "Добавить изображение",
            "back": "Назад",
            "add": "Добавлять",
            "filter": "Фильтр",
            "clear": "Очистить",
            "cancel": "Отмена",
            "delete": "Удалить",
            "edit": "Изменить",
            "open": "Открыть",
            "save": "Сохранить",
            "view": "Просмотр",
            "actions": "Actions",
            "show": "Show {{otherEntity}}"
        },
        "detail": {
            "field": "Поле",
            "value": "Значение"
        },
        "delete": {
            "title": "Подтвердите операцию удаления"
        },
        "validation": {
            "required": "Это поле обязательно к заполнению.",
            "minlength": "Это поле является обязательным, по крайней мере {{min}} символов.",
            "maxlength": "Это поле не может быть длинее, чем {{max}} символов.",
            "min": "Это поле должно быть больше, чем {{min}}.",
            "max": "Это поле не может быть больше, чем {{max}}.",
            "minbytes": "Это поле должно быть больше, чем {{min}} байтов.",
            "maxbytes": "Это поле не может быть больше, чем {{max}} байтов.",
            "pattern": "Это поле должно следовать модели {{pattern}}.",
            "number": "Это поле должно быть число.",
            "datetimelocal": "Это поле должно быть дата и время."
        },
        "filters": {
          "set": "Following filters are set",
          "clear": "Clear filter",
          "clearAll": "Clear all filters"
        }
    },
    "error": {
        "internalServerError": "Внутренняя ошибка сервера",
        "server.not.reachable": "Сервер не доступен",
        "url.not.found": "Не найдено",
        "NotNull": "Поле {{fieldName}} не может быть пустым!",
        "Size": "Поле {{fieldName}} не отвечает требованиям мин/макс.го размера!",
        "userexists": "Имя пользователя уже используется!",
        "emailexists": "Эл. почта уже используется!!",
        "idexists": "Новый {{entityName}} не может иметь данный ID",
        "idnull": "Неверный ID",
        "idinvalid": "Invalid Id",
        "idnotfound": "ID cannot be found",
        "file": {
            "could.not.extract": "Не удалось извлечь файл",
            "not.image": "Файл должен был быть изображением, но было установлено, что \"{{ fileType }}\""
        }
    },
    "download": {
        "excel": "Экспорт в Excel",
        "onePage": "Одна страница",
        "all": "Всe страницы",
        "custom": "Ручной ввод",
        "confirm": {
        "modal": {
            "title": "Excel экспорт",
                "message": "Данный процесс может занять много времени и нагрузки для базы. Вы уверены, что хотите выполнить этот процесс?",
                "totalItems": "Всего"
            }
        }
    },
    "footer": "Это ваш футтер"
}
