import { ChangeDetectionStrategy, Component, Input, OnInit } from '@angular/core';
import { FormsModule } from '@angular/forms';
import {JsonEditorOptions, NgJsonEditorModule} from 'ang-jsoneditor';

@Component({
    selector: 'bm-json-viewer',
    template: `
    <json-editor [(ngModel)]="data"></json-editor>`,
    styleUrls: ['bm-json-viewer.style.scss'],
    changeDetection: ChangeDetectionStrategy.OnPush,
    standalone: true,
    imports: [FormsModule, NgJsonEditorModule]
})
export class BmJsonViewerComponent implements OnInit {
    @Input() data: any;
    options: JsonEditorOptions;

    ngOnInit(): void {
        this.options = new JsonEditorOptions();
        this.options.mainMenuBar = false;
        this.options.navigationBar = false;
        this.options.statusBar = false;
        this.options.expandAll = true;
        this.options.mode = 'view';

        this.data = typeof this.data === 'string' ? JSON.parse(this.data) : this.data;
    }
}
