<%#
 Copyright 2013-2023 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>

import {Injectable} from "@angular/core";
import {EntityBaseService} from "app/shared/entity/entity-base.service";
import {NglFilterField, NglFilterFieldType} from 'ngl-filter-field';
import {Utils} from "app/shared/util";
import {EntityService} from "app/shared/entity/entity.service";
import {Event} from "app/config/event.constants";
import {EntityUpdateOptions} from "app/shared/entity/entity-update/entity-update-options.model";
import {EntityViewOptions} from "app/shared/entity/entity-view/entity-view-options.model";
import {Authority} from "app/config/authority.constants";
import { getTranslation } from 'app/shared/functions';
<%_; this.generateEntityClientEnumImports(fields).forEach((importedPath, importedType) => { _%>
    import { <%- importedType %> } from '<%- importedPath %>';
<%_ }) _%>
import { I<%= entityAngularName; %> } from '../<%= entityFileName; %>.model';
import { <%= entityAngularName; %>UpdateComponent } from '../update/<%= entityFileName; %>-update.component';

<%_
Object.keys(differentRelationships).forEach(key => {
if (differentRelationships[key].some(rel => (rel.relationshipManyToOne || rel.relationshipOneToOne || rel.relationshipManyToMany) && rel.ownerSide)) {
    const uniqueRel = differentRelationships[key][0];
if (uniqueRel.otherEntityAngularName !== entityAngularName) {
_%>
    import { <%= uniqueRel.otherEntityAngularName %>Service } from 'app/entities/<%= uniqueRel.otherEntityPath %>/service/<%= uniqueRel.otherEntityFileName %>.service';
<%_
}
}
});
_%>

@Injectable({ providedIn: 'root' })
export class <%= entityAngularName %>Service extends EntityBaseService<I<%= entityAngularName; %>> {
    private readonly entityService = Utils.inject(EntityService);

    <%_
    Object.keys(differentRelationships).forEach(key => {
        if (differentRelationships[key].some(rel => (rel.relationshipManyToOne || rel.relationshipOneToOne || rel.relationshipManyToMany) && rel.ownerSide)) {
            const uniqueRel = differentRelationships[key][0];
        if (uniqueRel.otherEntityAngularName !== entityAngularName) {
        _%>
        private readonly <%= uniqueRel.otherEntityName %>Service = Utils.inject(<%= uniqueRel.otherEntityAngularName %>Service)
        <%_
        }
        }
    });
    _%>

    constructor() {
    super('api/<%= entityApiUrl %>'
    <%_; if ((applicationTypeGateway || applicationTypeMicroservice) && locals.microserviceName) { _%>,
    '<%= locals.microserviceName.toLowerCase() %>'
    <%_ } _%>
    );
    }

    getIdentity(model: I<%= entityAngularName %>): <%= primaryKey.tsType %> {
    <%_; if (primaryKey.fields.length === 1) { _%>
        return model.<%= primaryKey.name %>;
    <%_ } else { _%>
        return `<%- primaryKey.fields.map(field => `${field.fieldName}=\${model.${field.fieldNameDotted}}`).join(';') %>
        `;
    <%_ } _%>
    }

    getFilterFields(): NglFilterField[] {
    return [
    <%_; for ( const field of fields ) {
    if (field.fieldIsEnum) { _%>
        {
        name: '<%= field.fieldName %>.equals',
        type: NglFilterFieldType.TEXT,
        translation: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= field.fieldName %>',
        options: {
            items: Object.keys(<%= field.fieldType %>),
        }
        },
    <%_ } else if (field.fieldName === 'id') { _%>
        {
        name: 'id.equals',
        type: NglFilterFieldType.<%_; if (primaryKey.tsType === 'number') { _%>NUMBER<%_ } else { _%>TEXT<%_ } _%>,
        translation: 'global.field.id',
        },
    <%_ } else if (field.fieldType === 'String') { _%>
        {
        name: '<%= field.fieldName %>.contains',
        type: NglFilterFieldType.TEXT,
        translation: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= field.fieldName %>',
        },
    <%_ } else if (['Instant', 'ZonedDateTime', 'LocalDate'].includes(field.fieldType)) { _%>
        {
        name: '<%= field.fieldName %>.equals',
        type: NglFilterFieldType.DATE,
        translation: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= field.fieldName %>',
        },
    <%_ } else if (field.fieldType === 'Boolean') { _%>
        {
        name: '<%= field.fieldName %>.equals',
        type: NglFilterFieldType.DATE,
        translation: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= field.fieldName %>',
        options: {
            items: [true, false],
            },
        },
    <%_ } else if (['Integer', 'Long', 'Float', 'Double', 'BigDecimal', 'Duration'].includes(field.fieldType)) { _%>
        {
        name: '<%= field.fieldName %>.equals',
        type: NglFilterFieldType.NUMBER,
        translation: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= field.fieldName %>',
        },
    <%_ } _%>
    <%_ } _%>
    <%_; for ( const relationship of relationships.filter(r => r.ownerSide) ) { _%>
        {
            name: '<%= relationship.relationshipFieldName + "." + relationship.relatedField.fieldName %>.equals',
            type: NglFilterFieldType.<% if(['Integer', 'Long', 'Float', 'Double', 'BigDecimal', 'Duration'].includes(relationship.relatedField.fieldType)) { %>NUMBER<% } else { %>TEXT<% } %>,
            translation: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= relationship.relationshipFieldName %>',
        },
    <%_ } _%>
    ];
    };

    <%_; if (!readOnly) { _%>
    openUpdate(model?: I<%= entityAngularName; %>, duplicate?: boolean) {
        const options: EntityUpdateOptions<<%= entityAngularName; %>UpdateComponent> = {
                component: <%= entityAngularName; %>UpdateComponent,
                componentInstances: {
                data: model || {},
                duplicate: duplicate,
            },
                modalOptions: {
                size: 'lg',
            },
        };

        this.entityService.update(options);
    }

    openDelete(<%= primaryKey.name%>: <%= primaryKey.tsType %>) {
        const options = {
            useFunction: this.delete(id),
            event: Event.<%= entityAngularName.toUpperCase() %>_LIST_MODIFICATION,
            alertTranslation: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.deleted',
            alertTranslationValue: id,
        };

        this.entityService.delete(options);
    }

    openView(model: I<%= entityAngularName; %>): void {
        const options: EntityViewOptions[] = [
        <%_; for ( const field of fields ) {
            if (field.fieldName === "id") { _%>
                { title: 'global.field.id', value: model.id },
            <%_ } else if (['Integer', 'Long', 'Float', 'Double', 'BigDecimal', 'Duration'].includes(field.fieldType)) { _%>
                { title: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= field.fieldName %>', value: model.<%= field.fieldName %>},
            <%_ } else if (field.fieldType === 'String') { _%>
                {
                title: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= field.fieldName %>',
                value: model.<%= field.fieldName %>,
                },
            <%_ } else if (field.fieldType === 'Boolean') { _%>
                {
                title: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= field.fieldName %>',
                value: model.<%= field.fieldName %>,
                type: 'boolean',
                boolean: 'active'
                },
            <%_ } else if (['Instant', 'ZonedDateTime', 'LocalDate'].includes(field.fieldType)) { _%>
                {
                title: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= field.fieldName %>',
                value: model.<%= field.fieldName %>,
                type: 'date',
                date: 'dd.MM.yyyy HH:mm:ss',
                },
            <%_ } _%>
        <%_ } _%>
        <%_; for ( const relationship of relationships.filter(r => r.ownerSide)) {
            const { relationshipType, relationshipFieldName, otherEntityName, otherEntityAngularName } = relationship;
            if (relationshipType === "many-to-many") {
        _%>
        {
            title: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= relationship.relationshipName %>',
            value: model.<%= relationshipFieldName %>,
            type: 'array',
            options: { queryParams: { label: '<%= relationship.relatedField.fieldName %>' } }
        },
        <%_ } else if (relationshipType === "many-to-one" || relationshipType === "one-to-one") { _%>
        {
            title: '<%= this.getTranslationKey(frontendAppName, entityTranslationKey); %>.<%= relationship.relationshipName %>',
            value: model.<%= relationshipFieldName + "?." + relationship.relatedField.fieldName %>,
            type: 'link',
            link: () => this<%_; if(relationship.otherEntityAngularName !== entityAngularName) { _%>.<%= otherEntityName %>Service<%_ } _%>.openView(model.<%= relationshipFieldName %>),
        },
        <%_ } _%>
        <%_ } _%>
        ];

        this.entityService.view(options, model.id, [Authority.USER]);
    }

    <%_ } _%>
}
