<a class="nav-link navbar-language dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
   id="languagesnavBarDropdown">
            <span class="navbar-language">
              <img class="language-image" [src]="'content/images/' + selectedLanguage + '.svg'"/>
              <!--              <fa-icon [icon]="'flag'"></fa-icon>-->
              <span>{{ selectedLanguage | findLanguageFromKey }}</span>
            </span>
</a>
<ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
  <li *ngFor="let language of languages">
    <a
      class="dropdown-item"
      [jhiActiveMenu]="language"
      href="javascript:void(0);"
      (click)="changeLanguage(language); collapseNavbar()"
    >
      <img class="language-image" src="content/images/{{language}}.svg"/> {{ language | findLanguageFromKey }}
    </a>
  </li>
</ul>

