import { NgModule } from '@angular/core';
import { RouterModule } from '@angular/router';
import { UserRouteAccessService } from 'app/core/auth/user-route-access.service';
import { Authority } from 'app/config/authority.constants';

@NgModule({
    imports: [
        RouterModule.forChild([
        /* jhipster-needle-add-entity-route - JHipster will add entity modules routes here */
<%_; for ( const entity of this.localEntities ) {
    if (entity.entityPage !== 'user') {
_%>
    {
        path: '<%= entity.entityPage %>',
        loadChildren: () => import('./<%= entity.entityFolderName %>/<%= entity.entityFileName %>.module').then(m => m.<%= entity.entityAngularName %>Module),
        canActivate: [UserRouteAccessService],
        data: {
            authorities: [Authority.<%= this.getRoleType("read", entity.entityAngularName) %>],
            pageTitle: 'global.menu.entities.<%= entity.entityTranslationKeyMenu %>',
        },
    },
<%_ } } _%>
        ]),
    ],
})
export class EntityRoutingModule {}
